#title1{
	color:White;
	font-size:30px;
	font-family:"Times New Roman";
	}
#title2{
	color:White;
	font-size:30px;
	font-family:"Times New Roman";
	}
button{
	margin-top:300px;
}
.input-group{
	width:600px;
	text-align:center;
	margin-top:100px;
	margin-left:auto;
    margin-right:auto;
}